# Logs
logs
*.log
npm-debug.log*
  
*.env

# Dependency directories
node_modules/
jspm_packages/


# Optional npm cache directory
.npm



# Stores VSCode versions used for testing VSCode extensions
.vscode-test

